{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
	
	<head>
		<meta charset="UTF-8">
		<meta name = "viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet"/>
		<link href="{% static 'styles/main.css' %}" rel="stylesheet"/>
		<title>mGoal</title>
	</head>
	
	<body>


	
		<div class="container">
			<h1><a href="{% url 'exibir_lista' %}"> mGoal</a></h1>
			<h4>A sua carteira virtual!</h4>
		    
		</div>

		<div class="row content">

			<div class= "container">
				<div class="col-sm-2" style="float: right;">
					<button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
				</div>

				<div class="col-sm-4" style="float: right;">
					<input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
				</div>
			</div>	
		</div>

			<div class="container">
				{% block body %}
				{% endblock %}				
			</div>

			</div>
		</div>

	</body>
</html>