{% extends 'base.html' %}
{% block body %}

<div class="panel panel-default">
    
            {% if resultado_busca %}

                <div class="panel-heading">
                    <strong>   
                   Resultados da pesquisa</strong>
                </div>
                <ul class="list-group">
                    {% for perfil in resultado_busca %}
                        <li class = "list-group-item">
                            {{perfil}}
                            {% if perfil.id != request.user.perfil.id and perfil not in request.user.perfil.contatos.all %}
                            <a class = "pull-right" href = "{% url 'convidar' perfil.id %}">Convidar</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
            {% else %}
                <div class="panel-body">
                    Resultado não encontrado.
                </div>    
            {% endif %}
       
    </div>



{% endblock %}