{% extends 'base.html' %}
{% block body %}

    <form class = "form-signin" action="{% url 'postar' %}"  method="post">
        {% csrf_token %}

        <h4 class="form-signin-heading">Publique!</h4>
                
        <input type="text"	name="texto" id = "id_texto" class = "form-control"
                placeholder="Escreva algo sobre você..." required>

                
        <br><button class="btn btn-primary pull-right" type = "submit" >Postar</button>

        {% if form.errors %}		
        <div class="alert alert-danger">
            <button type="button" class="close"
                    data-dismiss="alert" aria-hidden="true">x</button>
            {{ form.non_field_errors }}
        </div>		
        {% endif %}
    </form>
    
{% endblock %}